<% title "#{@question.title}" %>

<p>
  <b>Type:</b>
  <%= @question.answer_type %>
</p>

<p>
  <b>Group:</b>
  <%= @question.group %>
</p>

<p>
  <b>Unit:</b>
  <%= @question.unit %>
</p>

<p>
  <b>Sub Group:</b>
  <%= @question.sub_group %>
</p>

<p>
  <b>Sub Group Unit:</b>
  <%= @question.sub_group_unit %>
</p>
