<% title 'Dashboard' %>
<% sub_title 'Your Contributions!' %>

<h1>Questionnaires</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <tr class="table-header">
      <th>Location</th>
      <th>Created</th>
      <th></th>
      <th></th>
    </tr>

    <% @user.questionnaires.each do |questionnaire| %>
        <tr>
          <td><%= link_to questionnaire.location.name, questionnaire.location %></td>
          <td><%= questionnaire.created_at.to_formatted_s :long %></td>
          <td><%= link_to questionnaire, :class => 'primary-color-text' do %>
                <i class="fa fa-eye"></i>
            <% end %>
          </td>
          <td><%= link_to questionnaire, method: :delete, data: {confirm: 'Are you sure?'}, :class => 'primary-color-text' do %>
                <i class="fa fa-trash"></i>
            <% end %>
          </td>
          </td>
        </tr>
    <% end %>
  </table>
</div>

<br/>

<p>
  <%= link_to 'New Questionnaire', new_questionnaire_path %>
  <br/>
  Need to create a new location? <%= link_to 'Add A New Location!', new_location_path %>
</p>
