<% title 'Sign up' %>
<% sub_title 'Its Free!' %>

<%= form_for(resource, :as => resource_name,
             :url => registration_path(resource_name),
             :html => {:role => 'form'}) do |f| %>

    <div class="row">
      <%= devise_error_messages! %>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h2>Account Info</h2>

        <div class="form-group">
          <%= f.label :email %>
          <br/>
          <%= f.email_field :email,
                            :autofocus => true,
                            :placeholder => :email,
                            :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <br/>
          <%= f.password_field :password,
                               :placeholder => :password,
                               :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <br/>
          <%= f.password_field :password_confirmation,
                               :placeholder => 'confirm password',
                               :class => 'form-control' %>
        </div>

        <div class="form-group">&nbsp;</div>

        <h2>Legal Info</h2>

        <div class="form-group">
          <%= f.label :confirm_terms_of_service %>
          <div class="checkbox">
            <%= f.label :confirm_terms_of_service do %>
                <%= f.check_box :confirm_terms_of_service, :class => 'checkbox' %>
                Accept Terms of Service
            <% end %>
          </div>
          <%= link_to 'Terms of Service', terms_path, :target => '_blank' %>
          <br/>
          <%= render "devise/shared/links" %>
        </div>
      </div>
      <div class="col-sm-6">
        <h2>Your Info</h2>

        <div class="form-group">
          <%= f.label :city %>
          <br/>
          <%= f.text_field :city,
                           :placeholder => :city,
                           :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :state %>
          <br/>
          <%= f.select :state, us_states,
                       {:include_blank => false, :prompt => 'Select State...'},
                       {:class => 'form-control'} %>
        </div>

        <div class="form-group">
          <%= f.label :zip_code %>
          <br/>
          <%= f.text_field :zip_code,
                           :placeholder => :zip_code,
                           :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :birthday %>
          <br/>

          <div class="form-inline">
            <%= f.date_select :birthday,
                              {
                                      :start_year => Time.now.year - 100,
                                      :prompt => {
                                              :day => 'Select day',
                                              :month => 'Select month',
                                              :year => 'Select year'
                                      }
                              },
                              {
                                      :class => 'form-control'
                              } %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :gender %>
          <br/>
          <%= f.select :gender, User.gender_types,
                       {:prompt => 'Select Gender...', :include_blank => false},
                       {:class => 'form-control'} %>
        </div>

        <div class="form-group">
          <%= f.label :timezone %>
          <br/>
          <%= f.time_zone_select :timezone, nil,
                                 {:default => 'UTC'},
                                 {:class => 'form-control'}
          %>
        </div>
      </div>
    </div>
    <div class="row">
      <div><%= f.submit "Sign up", :class => 'btn btn-primary col-sm-4 col-sm-offset-4' %></div>
    </div>

<% end %>
