<% title 'Listing User Answers' %>

<div class="table-responsive">
  <table class="table table-hover">
  <tr>
    <th>Question</th>
    <th>Value</th>
    <th>Created At</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_answers.each do |user_answer| %>
  <tr>
    <td><%= user_answer.question.title %></td>
    <td><%= user_answer.value %></td>
    <td><%= user_answer.created_at %></td>
    <td><%= link_to 'Show', user_answer %></td>
    <td><%= link_to 'Edit', edit_user_answer_path(user_answer) %></td>
    <td><%= link_to 'Destroy', user_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New User answer', new_user_answer_path %>

<%= will_paginate @user_answers,
                  :renderer => PaginationListLinkRenderer,
                  :previous_label => '&laquo;',
                  :next_label => '&raquo;',
                  :class => 'pagination' %>
