<% title "Review for #{@questionnaire.location.name}" %>

<h2>Listing Answers</h2>

<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Question</th>
      <th>Value</th>
      <% if user_signed_in? && current_user.role == 'admin' %>
          <th></th>
          <th></th>
          <th></th>
      <% end %>
    </tr>

    <% @questionnaire.user_answers.each do |user_answer| %>
        <tr>
          <td><%= user_answer.question.title %></td>
          <td><%= show_formatted_result(user_answer.question.unit, user_answer.value.round(2)).html_safe %></td>
          <% if user_signed_in? && current_user.role == 'admin' %>
              <td><%= link_to 'Show', user_answer %></td>
              <td><%= link_to 'Edit', edit_user_answer_path(user_answer) %></td>
              <td><%= link_to 'Destroy', user_answer, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
</div>

<% unless @questionnaire.flagged %>
    <h2>Comment</h2>
	<blockquote>
	  <p><%= @questionnaire.comment %></p>
	  <footer><%= @questionnaire.user.city %>, <%= @questionnaire.user.state %></footer>
	</blockquote>
<% end %>

<% if user_signed_in? && current_user.role == 'admin' %>
    <h2>Moderation</h2>
    <p>
      <b>Moderated:</b>
      <%= @questionnaire.moderated %>
    </p>

    <p>
      <b>Flagged:</b>
      <%= @questionnaire.flagged %>
    </p>
<% end %>
