<%= form_for(@location, :html => {:role => 'form'}) do |f| %>
    <% if @location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

          <ul>
            <% @location.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name,
                       :placeholder => :name,
                       :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <br/>
      <%= f.text_field :phone,
                       :placeholder => :phone,
                       :class => 'form-control',
                       :type => 'tel' %>
    </div>
    <div class="field">
      <%= f.label :address %>
      <br/>
      <%= f.text_area :address,
                      :placeholder => :address,
                      :class => 'form-control',
                      :rows => 5 %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <br/>
      <%= f.text_field :city,
                       :placeholder => :city,
                       :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :state %>
      <br/>
      <%= f.select :state, us_states,
                   {:include_blank => false, :prompt => 'Select State...'},
                   {:class => 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :zip_code %>
      <br/>
      <%= f.text_field :zip_code,
                       :placeholder => :zip_code,
                       :class => 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :website %>
      <br/>
      <%= f.text_field :website,
                       :placeholder => :website,
                       :class => 'form-control',
                       :type => 'url' %>
    </div>
    <div class="form-group">
      <%= f.label :open_date %>
      <br/>

      <div class="form-inline">
        <%= f.date_select :open_date,
                          {
                                  :start_year => Time.now.year - 100,
                                  :prompt => {
                                          :day => 'Select day',
                                          :month => 'Select month',
                                          :year => 'Select year'
                                  }
                          },
                          {
                                  :class => 'form-control'
                          } %>
      </div>
    </div>
    <div class="field">
      <%= f.label :location_type %>
      <br/>
      <%= f.select :location_type, Location.types, {},
                   :class => 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>
