<% title 'Listing Members' %>

<div class="table-responsive">
  <table class="table table-striped">
    <tr class="table-header">
      <th>Email</th>
      <th>City, State</th>
      <th>Last Sign In</th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.city %>, <%= user.state %></td>
          <td><%= user.last_sign_in_at %></td>
          <td><%= link_to 'Show', member_path(user) %></td>
        </tr>
    <% end %>
  </table>
</div>

<%= will_paginate @users,
                  :renderer => PaginationListLinkRenderer,
                  :previous_label => '&laquo;',
                  :next_label => '&raquo;',
                  :class => 'pagination' %>
